body {
    width: 100%;
    overflow: hidden;
    color: #2f4356;
    font-family: Exo;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
    pointer-events: none;
    text-align: right;
}

h2.app-title {
    font-family: Oswald;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: rgba(255,255,255,0.8);
}

@media (max-width: 768px) {
    h2.app-title {
        zoom: 80%;
        text-align: center;
    }
}

.box {
    margin-bottom: 20px;
    background: rgba(255,255,255,0.8);
    color: #2f4356;
    padding: 10px;
    text-align: left;
}

.box.hidden {
    background: rgba(255,255,255,0);
}

.box#selectedZone {
    color: #3498db;
}

#zoneInfo, #zoneInfo h4 {
    font-weight: bold;
}

#zoneInfo .provider {
    text-align: right;
}

#zoneInfo .allowed-payment {
    color: #2ecc71;
}

#zoneInfo .allowed-payment.no {
    color: #e74c3c;
}

@media (max-device-width: 768px) {
    .box {
        zoom: 80%;
    }
    #selectedZone {
        right: 20px;
        margin-left: 20px;
        display: inline-block;
    }
    #zoneInfo {
        position: fixed;
        bottom: 20px;
    }
}

.btn-park {
    pointer-events: auto;
    border: none;
    background-color: #3498db;
}

.btn-park:hover {
    background-color: #2980b9;
}

#map {
    width: 100%;
    height: 100vh;
}